<div class="curtain" v-show="!running">
  <div class="wrapper animated rubberBand delay-1s">
    <ul class="tips" v-if="isMobile">
      <li>
        Press to start or pause game.
      </li>
      <span class="start-button">START</span>
    </ul>
    <ul class="tips" v-else>
      <li>
        Press <code>SPACE</code> to start or pause game.
      </li>
      <li>Press ⬆️ ⬇️ ⬅️ ➡️ or
        <code>W</code> <code>A</code> <code>S</code> <code>D</code> control direct.
      </li>
    </ul>
  </div>
</div>
<div class="screen" v-else>
  <!-- snake list -->
  <div class="screen-snake">
    <div class="snake"
      v-for="snake in snakes"
      v-bind:class="[snake.type, snake.direct, snake.life]"
      v-bind:style="{
          width: scale,
          height: scale,
          'background-size': bgsize,
          top: (snake.y * unit) + 'px',
          left: (snake.x * unit) + 'px'
      }"
    ></div>
  </div>
  <!-- bug list -->
  <div class="screen-bug">
    <div class="bug animated jackInTheBox"
      v-for="bug in bugs"
      v-bind:class="bug.eaten ? 'eaten' : 'fresh'"
      v-bind:style="{
          width: scale,
          height: scale,
          'background-size': bgsize,
          top: (bug.y * unit) + 'px',
          left: (bug.x * unit) + 'px'
      }"
    ></div>
  </div>
  <div class="pause animated fadeInPause" v-show="isPause">
    <div class="pause-button" v-on:click="cancelPause">
      <div class="icon"></div>
    </div>
  </div>
</div>
<div class="grid" v-el="grid"></div>
<div id="over" class="over animated fadeIn" v-show="showResult">
  <div class="over-box">
    <h2>Game Over ! You lose life !</h2>
    <p>
      Press
      <span v-if="isMobile">here</span>
      <span v-else>ESC</span>
      to restart a new game.
    </p>
  </div>
</div>
